<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 72 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.myposts.count, "mypost") %>
</span>
<span>
  <%= pluralize(current_user.pinposts.count, "pinpost") %>
</span>